/* ===============================
   IMAGEN PROMOCIONAL
================================ */
.flayer-promocional {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 30px auto 20px auto;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.flayer-promocional:hover {
  transform: scale(1.02);
}
